executor {
    name = 'slurm'
    queueSize = 2000
}

report {
       enabled = true
       file = 'reports/report.html'
}

trace {
    enabled = true
    file = 'reports/trace.txt'
}

timeline {
    enabled = true
    file = 'reports/timeline.html'
}

dag {
    enabled = true
    file = 'reports/dag.dot'
}

singularity {
        enabled = true
        autoMounts = true
        runOptions = '--home $HOME:/home/$USER --bind /pasteur'
}

process {
    executor='slurm'
    queue = 'bioevo'
    clusterOptions = "--qos=bioevo"
    scratch=false
    maxRetries=30
    errorStrategy='retry'

    withLabel: samtools {
        container="evolbioinfo/samtools:v1.10"
    }
    withLabel: minimap {
        container="evolbioinfo/minimap2:v2.17"
    }
    withLabel: nanoplot {
        container="evolbioinfo/nanoplot:v1.29.1"
	cpus=20
    }
    withLabel: fastqc {
        container="evolbioinfo/fastqc:v0.11.8"
    }
    withLabel: multiqc {
        container="evolbioinfo/multiqc:v1.9"
    }
    withLabel: kraken {
        container="evolbioinfo/kraken:v2.0.8-beta"
	cpus=20
	memory='50G'
    }
    withLabel: canu {
        container="evolbioinfo/canu:v2.0"
        cpus=10
	memory='30G'
    }
    withLabel: bcftools {
        container="evolbioinfo/bcftools:f27f849"
        cpus=1
	memory='10G'
    }
}
